.categories_container{
    display: flex;
    width: 100%;
    /* margin-top: -37px; */
    /* padding: 5px; */
    /* background-color: blueviolet; */
}
.categories_content{
    padding-top: 25px;
    display: flex;
      gap: 10px;
      overflow-x: auto;
    white-space: nowrap;
    overflow:hidden;
    /* background-color: red; */
}
.item {
    text-align: center;
    flex-shrink: 0;
  }
  .circle_img {
    border-radius: 50%;
    width: 90%;
    height: 150px;
    object-fit: cover;
  }
.label_container{
    margin-top: 10px;
    font-size: 14px;
}

.label_container label{
    padding: 2px;
    font-size: 10px;
    font-family:  "EB Garamond", Baskerville, Caslon, serif;
} 


.scroll_button {
    /* position: absolute; */
    top: 50%;
    background-color: #fffdfd;
    margin:5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    z-index: 1;
  }
  
  #scroll_left {
    left: 0;
  }
  
  #scroll_right {
    right: 0;
  }

  @media (max-width:600px) {
    .categories_container{
      display: flex;
      width: 130%;
      margin-right: 50px;
      /* background-color: blueviolet; */
  }
    
  }